In [2]:
from WindPy import w
import numpy as np
import pandas as pd
import csv
import datetime
from datetime import datetime as dates
from datetime import timedelta
import json
import os

w.start()
w.isconnected()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2024 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

True

In [63]:
with open('Index List.json', 'r') as f:
    INDEXES = json.load(f)

with open('Index Start.json', 'r') as f:
    INDEX_START = json.load(f)
    
INDEX_DATA = {}

for ticker in INDEX_START:
    path = f"Data/{ticker}.csv"
    
    if os.path.isfile(path): 
        data = pd.read_csv(path, index_col = 0, parse_dates = True)
        data.index = pd.to_datetime(data.index, format="%Y-%m-%d", errors='coerce')
        data.index = data.index.date
        INDEX_DATA[ticker] = data.copy(deep = True)
        
len(INDEX_DATA)

1

In [46]:
today = "2025-05-18"
today_date = datetime.datetime.strptime(today, "%Y-%m-%d").date()
today_date

datetime.date(2025, 5, 18)

In [74]:
ticker = '000300.SH'
INDEX_DATA[ticker].index[-1]

datetime.date(2024, 11, 20)

# Update Existing Tickers

In [52]:
params = """open,high,low,close,vwap,volume,amt,turn,
            total_shares,free_float_shares,mkt_cap_ard,mkt_freeshares,
            pe_ttm,val_pb_wgt,dividendyield2"""

ticker = '000300.SH'

data = INDEX_DATA[ticker]

start = data.index[-1].strftime("%Y-%m-%d")

new_data = w.wsd(ticker, params, start, today, '', usedf = True)[1]

In [64]:
data = pd.concat([data, new_data]).groupby(level=0).last()
data.index = pd.to_datetime(data.index, format="%Y-%m-%d", errors='coerce')
data.index = data.index.date
data = data[~data.index.duplicated(keep="last")]

In [27]:
print(temp.index.duplicated().any())

False

In [28]:
temp = pd.concat([data, new_data]).groupby(level=0).last()
temp.index = pd.to_datetime(temp.index, format="%Y-%m-%d", errors='coerce')
temp.index = temp.index.date
# temp = temp[~temp.index.duplicated(keep="last")]

In [29]:
print(temp.index.duplicated().any())

False

In [56]:
data = data[INDEX_DATA['000300.SH'].index[-4]:]
temp.head(10)

,OPEN,HIGH,LOW,CLOSE,VWAP,VOLUME,AMT,TURN,TOTAL_SHARES,FREE_FLOAT_SHARES,MKT_CAP_ARD,MKT_FREESHARES,PE_TTM,VAL_PB_WGT,DIVIDENDYIELD2
2024-11-15,4025.6482,4049.0710,3968.8308,3968.8308,19.162519,2.473995e+10,4.740797e+11,0.7825,4.176265e+12,1.081900e+12,5.601519e+13,1.841688e+13,12.6125,1.3398,2.9679
2024-11-18,3982.1036,4034.0596,3931.1872,3950.3806,15.399023,3.067779e+10,4.724081e+11,0.9700,4.176301e+12,1.082255e+12,5.606742e+13,1.833053e+13,12.6243,1.3411,2.9685
2024-11-19,3954.6038,3979.1505,3896.7493,3976.8912,16.572004,2.429465e+10,4.026110e+11,0.7682,4.176399e+12,1.082352e+12,5.620348e+13,1.846109e+13,12.6549,1.3443,2.9584
2024-11-20,3966.1238,4001.0847,3958.3383,3985.7727,18.828758,1.845994e+10,3.475777e+11,0.5837,4.176399e+12,1.082413e+12,5.629713e+13,1.909953e+13,12.6760,1.3465,2.9522
2024-11-21,3979.4554,3999.5693,3966.0658,3989.2979,19.517424,1.661259e+10,3.242350e+11,0.5253,4.176406e+12,1.082398e+12,5.630960e+13,1.911438e+13,12.6788,1.3469,2.9544
2024-11-22,3984.2435,3990.2647,3865.6989,3865.6989,18.381550,2.162858e+10,3.975668e+11,0.6838,4.176564e+12,1.082557e+12,5.479193e+13,1.852963e+13,12.3371,1.3105,3.0421
2024-11-25,3875.6126,3889.7069,3812.3179,3848.0909,18.301068,1.907030e+10,3.490068e+11,0.6029,4.176564e+12,1.083107e+12,5.464003e+13,1.844328e+13,12.3029,1.3070,3.0468
2024-11-26,3836.2590,3875.2290,3833.2842,3840.1847,17.639532,1.498924e+10,2.644033e+11,0.4739,4.176564e+12,1.083104e+12,5.469686e+13,1.840698e+13,12.3157,1.3084,3.0472
2024-11-27,3829.3442,3907.1640,3817.9125,3907.0447,18.412745,1.741361e+10,3.206324e+11,0.5506,4.176606e+12,1.082974e+12,5.551373e+13,1.872933e+13,12.4996,1.3278,2.9998
2024-11-28,3904.2525,3908.3918,3866.0136,3872.5505,19.080605,1.501173e+10,2.864329e+11,0.4746,4.176610e+12,1.082977e+12,5.510042e+13,1.857137e+13,12.4066,1.3180,3.0338

In [75]:
INDEX_DATA[ticker] = data

In [73]:
ticker

'000001.SH'

# Download New Tickers

In [3]:
params = """open,high,low,close,vwap,volume,amt,turn,
            total_shares,free_float_shares,mkt_cap_ard,mkt_freeshares,
            pe_ttm,val_pb_wgt,dividendyield2"""

for index in INDEXES:
    print(index)
    if index in INDEX_DATA: 
        continue

    data = w.wsd(index, params, INDEX_START[index], "2025-4-30", "", "unit=1;traderType=1;Fill=Previous", usedf = True)[1]

    # Try to fetch a column. Error if data was not acquired 
    junk = data['PE_TTM']

    INDEX_DATA[index] = data.copy(deep = True)

000001.SH
000300.SH
000905.SH
000688.SH
000852.SH
000016.SH
932000.CSI
000906.SH
000922.CSI
000015.SH
930050.CSI
000698.SH
399997.SZ
399989.SZ
399975.SZ
000985.CSI
399300.SZ
931151.CSI
931643.CSI
399986.SZ
399967.SZ
930955.CSI
000903.SH
000819.SH
930707.CSI
399998.SZ
000932.SH
399808.SZ
399971.SZ
000991.SH
931468.CSI
399976.SZ
000933.SH
399959.SZ
930901.CSI
931775.CSI
930641.CSI
931238.CSI
000010.SH
931160.CSI
399995.SZ
000685.SH
000009.SH
930713.CSI
000807.CSI
000998.CSI
000919.CSI
000941.CSI
931446.CSI
931071.CSI
930997.CSI
000993.SH
930697.CSI
000827.SH
931152.CSI
000949.CSI
931494.CSI
930851.CSI
931052.CSI
000979.CSI

KeyError: 'PE_TTM'

In [6]:
len(INDEX_DATA)

59

In [66]:
for sheet, df in INDEX_DATA.items():
    df.to_csv(f"Data/{sheet}.csv")

In [4]:
data

                      OUTMESSAGE
0  CWSDService:: quota exceeded.

# Increment Data

In [43]:
INDEX_DATA.keys()

dict_keys(['000300.SH', '000001.SH'])